#header
{
    border-bottom: 1px solid black;
    overflow:auto;
}

#header-left
{
    float:left;
    width:80%;
}

#header-right
{
    float:right;
    width:15%;
}

#error
{
    border: 1px solid red;
    background-color: lightpink;
    width: 100%;
}